html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
}

body {
	background-color: var(--page-bg);
	color: var(--slate);
	font-family: var(--font-main);
	text-wrap: balance;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}
