html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
	scrollbar-width: thin;
	scrollbar-color: var(--dark-slate) var(--navy);
}

body {
	background-color: var(--page-bg);
	color: var(--slate);
	font-family: var(--font-main);
	//text-wrap: balance;
	counter-reset: section;

	&.no-scroll {
		main {
			filter: blur(5px) brightness(0.7);
			transition: var(--transition);
			pointer-events: none;
			user-select: none;
		}

		footer {
			filter: blur(5px) brightness(0.7);
			transition: var(--transition);
			pointer-events: none;
			user-select: none;
		}
	}
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

//.cursor-follower {
//	position: fixed;
//	width: 30px;
//	height: 30px;
//	border: 1px solid var(--green);
//	opacity: 0.5;
//	border-radius: 50%;
//	//background-color: rgba(100, 200, 255, 0.1);
//	pointer-events: none;
//	z-index: 9999;
//	transform: translate(-50%, -50%);
//	transition: transform 0.1s ease-out;
//}

/* Маленькая внутренняя точка */
.cursor-dot {
	position: fixed;
	width: 6px;
	height: 6px;
	background-color: var(--green);
	border-radius: 50%;
	pointer-events: none;
	z-index: 10000;
	transform: translate(-50%, -50%);
	transition: transform 0.05s ease-out;

	@include mobile {
		display: none;
	}
}

/* Большой внешний круг */
.cursor-circle {
	position: fixed;
	width: 30px;
	height: 30px;
	border: 1px solid var(--green);
	border-radius: 50%;
	pointer-events: none;
	z-index: 9999;
	transform: translate(-50%, -50%);
	transition: transform 0.15s ease-out;
	opacity: 0.5;

	@include mobile {
		display: none;
	}
}
