.btn {
    display: inline-block;
    position: relative;
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 10px 16px;
    font-family: var(--font-accent);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    font-size: 14px;
    margin-left: 15px;

    &:hover,
    &:focus-visible {
        outline: none;
        box-shadow: 3px 3px 0 0 var(--green);
        transform: translate(-4px, -4px);
    }
}
