.footer {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	min-height: 70px;
	padding: 16px;
	text-align: center;
	font-family: var(--font-accent);
	font-size: 12px;
}
