.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        margin-top: 30px;
    }
}

@media (max-height: 600px) and (min-width: 600px), (max-width: 380px) {
    .hero {
        height: auto;
        padding-top: 100px;
    }
}

.hero__block {
    p {
        max-width: 600px;
        margin-top: 24px;
        font-size: 18px;
        line-height: 1.5;
        //text-wrap: auto;
    }
}
