.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 62px;
	height: 62px;
}

.icon--github {
	stroke: var(--light-slate);
	transition: all 0.2s ease-in;
}

.icon--telegram {
	stroke: var(--light-slate);
	transition: all 0.2s ease-in;
}

.icon--whatsapp {
	fill: var(--light-slate);
	transition: all 0.2s ease-in;
}

.icon--card-external {
	stroke: var(--light-slate);
	transition: all 0.2s ease-in;
}

.icon--card-github {
	stroke: var(--light-slate);
	transition: all 0.2s ease-in;
}
