.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 62px;
	height: 62px;
}

.icon--github {
	stroke: var(--light-slate);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: var(--green);
	}
}

.icon--telegram {
	fill: var(--light-slate);
	transition: all 0.2s ease-in;

	&:hover {
		fill: var(--green);
	}
}

.icon--whatsapp {
	fill: var(--light-slate);
	transition: all 0.2s ease-in;

	&:hover {
		fill: var(--green);
	}
}
