.left-side {
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;

    &__socials {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            background-color: var(--light-slate);
        }

        li:last-of-type {
            margin-bottom: 20px;
        }
    }

    &.left-side__socials-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: var(--transition);

        &:hover {
            transform: translateY(-3px);

            &:has(.icon--whatsapp) {
                fill: var(--green);
            }
        }

        &:hover svg {
            stroke: var(--green);
        }

        &:hover .icon--whatsapp {
            fill: var(--green);
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}
