.mobile-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: min(75vw, 400px);
	height: 100vh;
	z-index: 99;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: var(--light-navy);
	box-shadow: -10px 0px 30px -15px var(--navy-shadow);
	transition: var(--transition);
	transform: translateX(100vw);
	visibility: hidden;

	.btn {
		align-self: auto;
		margin-left: 0;
		color: var(--green);
		padding: 20px 40px;
	}
}

.mobile-nav--open {
	transform: translateX(0vw);
	visibility: visible;
}

.mobile-nav a {
	font-family: var(--font-accent);
	font-size: clamp(14px, 4vw, 18px);
	color: var(--lightest-slate);
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
	font-size: 28px;
	text-align: center;

	& .active {
		opacity: 0.5;
	}

	li {
		display: flex;
		flex-direction: column;
		counter-increment: item 1;

		&::before {
			content: "0" counter(item) ".";
			display: block;
			color: var(--green);
			font-size: 14px;
		}

		a {
			padding: 10px;
		}
	}
}
