.skills {
    padding-top: 80px;
    padding-bottom: 80px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        max-width: 900px;
        padding: 0px 100px;

        @include mobile {
            padding: 0px 50px;
        }

        @include mobileXs {
            padding: 0px 25px;
        }
    }

    .skills__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        row-gap: 30px;
    }

    .skills__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        &:hover {
            .skills__item-title {
                color: var(--green);
            }
        }
    }

    .skills__item img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
    }

    .skills__item-title {
        font-family: var(--font-accent);
        transition: var(--transition);
    }
}
