.skills {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 900px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .skills__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        row-gap: 30px;
    }

    .skills__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .skills__item img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
    }

    .skills__item-title {
    }
}
