h1 {
	margin: 0px 0px 16px 4px;
	color: var(--green);
	font-family: var(--font-accent);
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
}

h3 {
	color: var(--slate);
}

.heading-big {
	font-size: clamp(40px, 8vw, 80px);
}
